ICON_1   ICON    feap6.ico 
newon    bitmap  new1.bmp
newoff   bitmap  new1.bmp
newdown  bitmap  new3.bmp
openon   bitmap  open1.bmp
openoff  bitmap  open1.bmp
opendown bitmap  open3.bmp
saveon   bitmap  save1.bmp
saveoff  bitmap  save1.bmp
savedown bitmap  save3.bmp

